@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="container">
            <p>這是一個用C# ASP.NET (Framework 4.7.2) MCV 5打造的專案</p>
            <span>立即進入</span>
            <span>@Html.ActionLink("Playlist", "Index", "Song")</span>
            <span>建立專屬於你的播放清單吧!</span>
        </div>
    </section>
</main>





