@model Playlist.Models.Singer

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
